body{
    background-image: url("../img/navy-blue-seamless-pattern-retro-260nw-1184868877.webp");
}

.sidebar{
    background-color: rgb(139, 139, 139);  
    border-radius:13px 0  0 13px;
}

.borderRight{
    border-right: 2px solid black;
}

.border_button{
    border-bottom: 2px solid black;
}

body{
    background-color: rgb(0, 144, 163);
}
.wrap{
    height:100vh;
    background-image: url("../img/navy-blue-seamless-pattern-retro-260nw-1184868877.webp");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}

.mainpage{
    height: 80vh;
    background-color: #fff;
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
}

.colors_menu{ 
    height: 10vh;
}
.colorbox{
    height: 10vh;
    width: 100%; 
   border: none;
   border-bottom: 2px solid black;
}
.cap{
    font-family: 'Francois One', sans-serif;
    font-size: 5vw;
}

.colorbox.red{
     background-color: red;  
    border-radius: 13px 0 0 0
}

.colorbox.green{
    background-color: green;  
}

.colorbox.black{
    background-color: black;  
}

.colorbox.yellow{
    background-color: yellow;  
}

.colorbox.blue{
    background-color: blue;  
}

.colorbox.purple{
    background-color: purple;  
}

.paint{
    height: 4px;
    width: 4px;
    position: absolute;
    border-radius:  50px 
}
.btns {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(139, 139, 139);  
    font-family: 'Francois One', sans-serif;
}


button:focus {outline:0;}

.fontSize_btn{
    height: 100%;
}

.btns:hover{
    background-color: rgb(92, 92, 92);
    cursor: pointer;
}

span{
    padding: 0;
    margin: 0;
}

.size-index{
    font-size: 2em;
}





